.block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 1126px;
}

.group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    height: 700px;
    align-items: center;
    top: 169px;
}

.cardsList{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    width: 1126px;
    height: 631.69px;
    top: 0;
}

.searchFilter{
    display: flex;
    height: 50px;
    position: absolute;
    left: 13.79%;
    right: 13.79%;
    top: -10%;
    bottom: 72.48%;
    size: 35px;
    line-height: 40.92px;
    letter-spacing: 3 px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.unitCard{
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    width:351.9px;
    height:136.86px;
    cursor: pointer;
    position: relative;
    background: #F0F0F0;
    border-radius: 8px;
}

.name{
    position: absolute;
    left: 5%;
    right: 0%;
    top: 5%;
    bottom: 0%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.height{
    position: absolute;
    left: 10%;
    right: 15.76%;
    top: 28%;
    bottom: 48.52%;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212121;
    border: 3px solid #212121;
}

.textHeight{
    position: absolute;
    left: -68%;
    right: 0%;
    top: 62%;
    bottom: 0%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #4B4B4B;
}

.mass, .unMass{
    position: absolute;
    left: 28%;
    right: 23.66%;
    top: 28%;
    bottom: 48.52%;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212121;
    border: 3px solid #212121;
}

.unMass{
    font-size: 10px;
}

.textMass{
    position: absolute;
    left: -32%;
    right: 0%;
    top: 62%;
    bottom: 0%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #4B4B4B;
}

.genderM, .genderF, .genderH{
    position: absolute;
    width: 75px;
    height: 16px;
    left: 10%;
    top: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #212121;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
}

.genderM{
    background: #73D677;
}

.genderF{
    background: #C956FF;;
}

.genderH{
    background: #F5DB13;
}

.genderN{
    display: none;
}

.birth_year{
    position: absolute;
    width: 75px;
    height: 16px;
    left: 38%;
    top: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #212121;
    background: #07D6F2;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
}

@media (max-width: 1100px) {

    .block{
        width: 100%;
    }

    .cardsList{
        width: 100%;
    }
  
  }
  
