.menu{
    position: relative;
    width: 100%;
    height: 93px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #1F2A63;
    box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}

.firstLink, .secondLink{
    position: absolute;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}

.img{
    width: 150px;
    height: 90px;
    left: 20px;
}

.firstLink{
    left: 80%;
    right: 1.43%;
    top: 18.52%;
    bottom: 27.78%;
}

.secondLink{
    left: 86%;
    right: 1.43%;
    top: 18.52%;
    bottom: 27.78%;
}