.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 796.73px;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: linear-gradient(180deg, #17002F 42.19%, #1F2A63 100%);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: 16px;
    outline: 0;
}

.modalBody{
    display: flex;
    position: absolute;
    width: 796.73px;
    height: 371px;
    margin-left: 0%;
    margin-right: 0%;
    top: 0%;
    margin-bottom: 0%;
    background: linear-gradient(180deg, #17002F 42.19%, #1F2A63 100%);
    border-radius: 16px;
    box-shadow: 4px 4px 8px rgba(1, 28, 64, 0.2);
}

.img{
    width: 341.12px;
    height: 348.12px;
    top: 16.77px;
    position: absolute;
    bottom: 6.11px;
}

.gender{
    position: absolute;
    width: 114px;
    height: 16px;
    left: 15%;
    top: 90%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #212121;
    background: #73D677;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
}

.birthYear{
    position: absolute;
    width: 75px;
    height: 16px;
    left: 32%;
    top: 90%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #212121;
    background: #07D6F2;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
}

.name{
    position: absolute;
    left: 48%;
    right: -97.73%;
    top: 4%;
    bottom: -10.53%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FDFDFD;
    text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.block{
    position: absolute;
    width: 264px;
    height: 104px;
    left: 48%;
    right: 0%;
    top: 20%;
    bottom: 0%;
    background: #FDFDFD;
    box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
    border-radius: 8px;
}

.hairColor, .textHairColor, .skinColor, .textSkinColor{
    position: absolute;
    left: 8.71%;
    right: 22.73%;
    top: 14.42%;
    bottom: 53.85%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.hairColor{
    left: 40%;
    right: 22.73%;
    top: -20%;
    bottom: 53.85%;
}

.textHairColor{
    left: 8.71%;
    right: 22.73%;
    top: -20%;
    bottom: 53.85%;
}

.skinColor{
    left: 40%;
    right: 22.73%;
    top: 14.42%;
    bottom: 53.85%;
}

.textSkinColor{
    left: 8.71%;
    right: 22.73%;
    top: 14.42%;
    bottom: 53.85%;
}

.blockHeight, .blockMass{
    display: flex;
    justify-content: center;
    width: 82.42px;
    height: 69.94px;
    position: absolute;
    background: #FDFDFD;
    box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
    border-radius: 8px;
}

.blockHeight{
    left: 62%;
    right: 0%;
    top: 75%;
    bottom: 0%;
}

.blockMass{
    left: 48%;
    right: 0%;
    top: 75%;
    bottom: 0%;
}

.mass, .height{
    position: absolute;
    top: 2%;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212121;
    border: 3px solid #212121;
}

.textMass, .textHeight{
    position: absolute;
    top: 70%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #4B4B4B;
}